{{ 'section-blog-posts.min.css' | asset_url | stylesheet_tag }}

{% comment %} Get settings {% endcomment %}
{% assign tag_limit = section.settings.tag_limit | default: 3 %}
{% assign post_limit = section.settings.post_limit | default: 6 %}
{% assign source_blog_handle = section.settings.source_blog | default: '' %}

{% comment %} Calculate grid classes based on post count {% endcomment %}
{%- capture post_count_grid -%}
  {%- case post_limit -%}
    {%- when 1 -%}
      col-sm-12
    {%- when 2 -%}
      col-sm-6
    {%- when 3 -%}
      col-md-4
    {%- when 4 -%}
      col-md-3
    {%- when 5 -%}
      col-md-4
    {%- when 6 -%}
      col-md-4
    {%- else -%}
      col-md-4
  {%- endcase -%}
{%- endcapture -%}

{% comment %} Calculate popular tags by counting articles with each tag {% endcomment %}
{% assign tag_counts = '' %}
{% assign tag_list = '' %}

{% comment %} Determine which blogs to search {% endcomment %}
{% if source_blog_handle != blank %}
  {% assign blogs_to_search = blogs[source_blog_handle] %}
{% else %}
  {% assign blogs_to_search = blogs %}
{% endif %}

{% comment %} Loop through blogs to collect tag counts {% endcomment %}
{% if source_blog_handle != blank %}
  {% for article_item in blogs_to_search.articles %}
    {% for tag in article_item.tags %}
      {% assign tag_handle = tag | handle %}
      {% assign tag_key = tag_handle | append: '|' %}
      
      {% unless tag_list contains tag_key %}
        {% assign tag_list = tag_list | append: tag_key %}
        {% assign tag_count = 0 %}
        
        {% comment %} Count articles with this tag {% endcomment %}
        {% for article_count in blogs_to_search.articles %}
          {% if article_count.tags contains tag %}
            {% assign tag_count = tag_count | plus: 1 %}
          {% endif %}
        {% endfor %}
        
        {% assign tag_entry = tag_handle | append: ':' | append: tag_count | append: '|' %}
        {% assign tag_counts = tag_counts | append: tag_entry %}
      {% endunless %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for blog_item in blogs_to_search %}
    {% for article_item in blog_item.articles %}
      {% for tag in article_item.tags %}
        {% assign tag_handle = tag | handle %}
        {% assign tag_key = tag_handle | append: '|' %}
        
        {% unless tag_list contains tag_key %}
          {% assign tag_list = tag_list | append: tag_key %}
          {% assign tag_count = 0 %}
          
          {% comment %} Count articles with this tag across all blogs {% endcomment %}
          {% for blog_count in blogs %}
            {% for article_count in blog_count.articles %}
              {% if article_count.tags contains tag %}
                {% assign tag_count = tag_count | plus: 1 %}
              {% endif %}
            {% endfor %}
          {% endfor %}
          
          {% assign tag_entry = tag_handle | append: ':' | append: tag_count | append: '|' %}
          {% assign tag_counts = tag_counts | append: tag_entry %}
        {% endunless %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% comment %} Find the most popular tags {% endcomment %}
{% assign popular_tags = '' %}
{% assign max_tags_to_show = tag_limit %}
{% assign tag_array = tag_counts | split: '|' %}
{% assign sorted_tags = '' %}

{% comment %} Simple selection sort to find popular tags {% endcomment %}
{% for i in (1..max_tags_to_show) %}
  {% assign max_count = 0 %}
  {% assign max_tag = '' %}
  
  {% for tag_entry in tag_array %}
    {% if tag_entry != blank %}
      {% assign tag_parts = tag_entry | split: ':' %}
      {% assign current_tag = tag_parts[0] %}
      {% assign current_count = tag_parts[1] | plus: 0 %}
      
      {% assign tag_check = current_tag | append: '|' %}
      {% unless sorted_tags contains tag_check %}
        {% if current_count > max_count %}
          {% assign max_count = current_count %}
          {% assign max_tag = current_tag %}
        {% endif %}
      {% endunless %}
    {% endif %}
  {% endfor %}
  
  {% if max_tag != blank %}
    {% assign sorted_tags = sorted_tags | append: max_tag | append: '|' %}
    {% assign popular_tags = popular_tags | append: max_tag | append: '|' %}
  {% endif %}
{% endfor %}

{% comment %} Collect articles from popular tags {% endcomment %}
{% assign popular_tags_array = popular_tags | split: '|' %}
{% assign collected_articles = '' %}
{% assign articles_count = 0 %}

{% for popular_tag_handle in popular_tags_array %}
  {% if popular_tag_handle != blank and articles_count < post_limit %}
    {% if source_blog_handle != blank %}
      {% for article_item in blogs_to_search.articles %}
        {% unless articles_count >= post_limit %}
          {% assign article_tag_handles = '' %}
          {% for article_tag in article_item.tags %}
            {% assign article_tag_handles = article_tag_handles | append: article_tag | handle | append: '|' %}
          {% endfor %}
          
          {% assign article_key = article_item.id | append: '|' %}
          {% if article_tag_handles contains popular_tag_handle %}
            {% unless collected_articles contains article_key %}
              {% assign collected_articles = collected_articles | append: article_key %}
              {% assign articles_count = articles_count | plus: 1 %}
            {% endunless %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    {% else %}
      {% for blog_item in blogs %}
        {% unless articles_count >= post_limit %}
          {% for article_item in blog_item.articles %}
            {% unless articles_count >= post_limit %}
              {% assign article_tag_handles = '' %}
              {% for article_tag in article_item.tags %}
                {% assign article_tag_handles = article_tag_handles | append: article_tag | handle | append: '|' %}
              {% endfor %}
              
              {% assign article_key = article_item.id | append: '|' %}
              {% if article_tag_handles contains popular_tag_handle %}
                {% unless collected_articles contains article_key %}
                  {% assign collected_articles = collected_articles | append: article_key %}
                  {% assign articles_count = articles_count | plus: 1 %}
                {% endunless %}
              {% endif %}
            {% endunless %}
          {% endfor %}
        {% endunless %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endfor %}

<section class="homepage-sections-wrapper blog-popular-tags-list-section">
  <div class="container featured-blog--block--{{ section.id }}">
    <div class="row {% if section.settings.accent_image %}has-accent-image{% endif %}">
      {% if section.settings.accent_image %}
        <div class="accent-image">
          <img {% if section.settings.mobile_accent_image %}class="mobile-hide" {% endif %} src="{{ section.settings.accent_image | img_url:'master' }}" />
          {% if section.settings.mobile_accent_image %}
            <img class="desktop-hide" src="{{ section.settings.mobile_accent_image | img_url: 'master' }}" />
          {% endif %}
        </div>
      {% endif %}
      
      <div class="page-width col-md-12">
        {% if section.settings.title != blank or section.settings.subheading != blank %}
          <div class="title-bar custom-font">
            {% if section.settings.title != blank %}
              <h2 class="wow">{{ section.settings.title | escape }}</h2>
            {% endif %}
            {% if section.settings.subheading != blank %}
              <h3 class="wow type-subheading type-subheading--1{% if section.settings.title != blank %} typography--padding-bottom{% endif %}">{{ section.settings.subheading | escape }}</h3>
            {% endif %}
          </div>
        {% endif %}

        {% comment %} Display collected articles {% endcomment %}
        <div class="row grid--blog">
          {% assign collected_articles_array = collected_articles | split: '|' %}
          {% assign displayed_count = 0 %}
          
          {% for article_id_string in collected_articles_array %}
            {% if article_id_string != blank and displayed_count < post_limit %}
              {% assign article_id = article_id_string | plus: 0 %}
              {% assign found_article = blank %}
              {% assign article_found = false %}
              
              {% if source_blog_handle != blank %}
                {% for article_item in blogs_to_search.articles %}
                  {% unless article_found %}
                    {% if article_item.id == article_id %}
                      {% assign found_article = article_item %}
                      {% assign article_found = true %}
                    {% endif %}
                  {% endunless %}
                {% endfor %}
              {% else %}
                {% for blog_item in blogs %}
                  {% unless article_found %}
                    {% for article_item in blog_item.articles %}
                      {% unless article_found %}
                        {% if article_item.id == article_id %}
                          {% assign found_article = article_item %}
                          {% assign article_found = true %}
                        {% endif %}
                      {% endunless %}
                    {% endfor %}
                  {% endunless %}
                {% endfor %}
              {% endif %}
              
              {% if article_found and found_article != blank %}
                {% assign displayed_count = displayed_count | plus: 1 %}
                {% assign section-id = '.featured-blog--block--' | append: section.id %}
                {% assign selector = ' .article--background-image--' | append: displayed_count | prepend: section-id %}

                <style>
                  {% render 'responsive-background-image--no-formatting' with found_article.image, alt: found_article.title, selector: selector %}
                </style>

                <article class="{{ post_count_grid }} wow index-blog-item--wrapper index-blog-item--image---{{ section.settings.imageSize }}">

                  {% if section.settings.show_blog_images %}
                    {% if found_article.image %}
                      {% if section.settings.imageSize == 'natural' %}
                        <div class="article-image">
                          <a href="{{ found_article.url }}" tabindex="-1">
                            {% render 'responsive-image' with found_article.image, alt: found_article.title %}
                          </a>
                        </div>
                      {% else %}
                        <a href="{{ found_article.url }}" tabindex="-1">
                          <div class="article--background-image article--background-image--{{ displayed_count }}"></div>
                        </a>
                      {% endif %}
                    {% endif %}
                  {% endif %}

                  <div class="blog-title-wrapper homepage-blog-title-wrapper{% if found_article.image and section.settings.show_blog_images %} article-image-in-header{% endif %}">
                    <h3><a href="{{ found_article.url }}">{{ found_article.title }}</a></h3>
                    {% if section.settings.show_dates or section.settings.show_author_name %}
                      <div class="blog__date-author">
                        <div class="blog-publish-date">
                          {% if section.settings.show_dates %}
                            <time class="updated blog--indiv-date" datetime="{{ found_article.published_at | date: format: 'long' }}" pubdate>{{ found_article.published_at | date: format: 'month_day_year' }}</time>
                          {% endif %}

                          {% if section.settings.show_dates and section.settings.show_author_name %}
                            <span>  |  </span>
                          {% endif %}

                          {% if section.settings.show_author_name %}<span>
                            {{ found_article.author }}</span>
                          {% endif %}
                        </div>
                      </div>
                    {% endif %}
                  </div>

                  <div class="rte home-blog-excerpt">
                    {{ found_article.excerpt_or_content | truncatewords: 25 }}
                  </div>

                  <div class="blog--read-more">
                    <a href="{{ found_article.url }}" class="button--text-subdued" tabindex="-1">{{ 'blogs.article.read_more' | t }}</a>
                  </div>
                </article>
              {% endif %}
            {% endif %}
          {% endfor %}
          
          {% if displayed_count == 0 %}
            <div class="col-md-12">
              <p class="text-center">{{ 'blogs.general.no_articles' | t | default: 'No blog posts found with popular tags.' }}</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": {
    "en": "Popular tags blog list",
    "de": "Beliebte Tags Blog-Liste",
    "es": "Lista de blog de etiquetas populares",
    "fr": "Liste de blog avec tags populaires",
    "pt-PT": "Lista de blogue com tags populares"
  },
  "class": "homepage-section--popular-tags-blog-list-wrapper",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Heading",
        "de": "Überschrift",
        "es": "Encabezado",
        "fr": "Rubrique",
        "pt-PT": "Título"
      },
      "default": {
        "en": "Popular Blog Posts",
        "de": "Beliebte Blogbeiträge",
        "es": "Publicaciones de blog populares",
        "fr": "Articles de blog populaires",
        "pt-PT": "Publicações do blogue populares"
      }
    },
    {
      "type": "text",
      "id": "subheading",
      "label": {
        "en": "Subheading",
        "de": "Unterüberschrift",
        "es": "Subencabezado",
        "fr": "Sous-rubrique",
        "pt-PT": "Subtítulo"
      }
    },
    {
      "type": "image_picker",
      "id": "accent_image",
      "label": {
        "en": "Accent Image",
        "de": "Akzentbild",
        "es": "Imagen de acento",
        "fr": "Image d'accent",
        "pt-PT": "Imagem de destaque"
      }
    },
    {
      "type": "image_picker",
      "id": "mobile_accent_image",
      "label": {
        "en": "Mobile Accent Image",
        "de": "Mobiles Akzentbild",
        "es": "Imagen de acento móvil",
        "fr": "Image d'accent mobile",
        "pt-PT": "Imagem de destaque móvel"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Popular Tags Settings",
        "de": "Einstellungen für beliebte Tags",
        "es": "Configuración de etiquetas populares",
        "fr": "Paramètres des tags populaires",
        "pt-PT": "Configurações de tags populares"
      }
    },
    {
      "type": "range",
      "id": "tag_limit",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": {
        "en": "Number of popular tags to consider",
        "de": "Anzahl der zu berücksichtigenden beliebten Tags",
        "es": "Número de etiquetas populares a considerar",
        "fr": "Nombre de tags populaires à considérer",
        "pt-PT": "Número de tags populares a considerar"
      },
      "default": 3,
      "info": {
        "en": "How many popular tags to use when selecting articles",
        "de": "Wie viele beliebte Tags beim Auswählen von Artikeln verwendet werden sollen",
        "es": "Cuántas etiquetas populares usar al seleccionar artículos",
        "fr": "Combien de tags populaires utiliser lors de la sélection d'articles",
        "pt-PT": "Quantas tags populares usar ao selecionar artigos"
      }
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": {
        "en": "Number of posts to display",
        "de": "Anzahl der anzuzeigenden Beiträge",
        "es": "Número de publicaciones a mostrar",
        "fr": "Nombre d'articles à afficher",
        "pt-PT": "Número de publicações a exibir"
      },
      "default": 6,
      "info": {
        "en": "Total number of blog posts to show from popular tags",
        "de": "Gesamtanzahl der Blogbeiträge, die von beliebten Tags angezeigt werden sollen",
        "es": "Número total de publicaciones del blog a mostrar de etiquetas populares",
        "fr": "Nombre total d'articles de blog à afficher avec des tags populaires",
        "pt-PT": "Número total de publicações do blogue a exibir com tags populares"
      }
    },
    {
      "type": "blog",
      "id": "source_blog",
      "label": {
        "en": "Source blog (optional)",
        "de": "Quell-Blog (optional)",
        "es": "Blog de origen (opcional)",
        "fr": "Blog source (optionnel)",
        "pt-PT": "Blogue de origem (opcional)"
      },
      "info": {
        "en": "Leave empty to search all blogs, or select a specific blog to search",
        "de": "Leer lassen, um alle Blogs zu durchsuchen, oder einen bestimmten Blog auswählen",
        "es": "Dejar vacío para buscar en todos los blogs, o seleccionar un blog específico",
        "fr": "Laisser vide pour rechercher dans tous les blogs, ou sélectionner un blog spécifique",
        "pt-PT": "Deixar vazio para pesquisar em todos os blogues, ou selecionar um blogue específico"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Display Settings",
        "de": "Anzeigeeinstellungen",
        "es": "Configuración de visualización",
        "fr": "Paramètres d'affichage",
        "pt-PT": "Configurações de exibição"
      }
    },
    {
      "type": "checkbox",
      "id": "show_blog_images",
      "label": {
        "en": "Show post images",
        "de": "Postbilder anzeigen",
        "es": "Mostrar imágenes publicadas",
        "fr": "Afficher les images du message",
        "pt-PT": "Mostrar imagens de publicações"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_dates",
      "label": {
        "en": "Show dates",
        "de": "Daten anzeigen",
        "es": "Mostrar fechas",
        "fr": "Afficher les dates",
        "pt-PT": "Mostrar datas"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author_name",
      "label": {
        "en": "Show author name",
        "de": "Autorennamen anzeigen",
        "es": "Mostrar el nombre de autor",
        "fr": "Afficher le nom de l'auteur",
        "pt-PT": "Mostrar nome do autor"
      },
      "default": false
    },
    {
      "type": "select",
      "id": "imageSize",
      "options": [
        {
          "value": "natural",
          "label": {
            "en": "Natural",
            "de": "Natürlich",
            "es": "Natural",
            "fr": "Naturel",
            "pt-PT": "Natural"
          }
        },
        {
          "value": "square",
          "label": {
            "en": "Square (1:1)",
            "de": "Quadrat (1:1)",
            "es": "Cuadrado (1:1)",
            "fr": "Carré (1:1)",
            "pt-PT": "Quadrado (1:1)"
          }
        },
        {
          "value": "landscape",
          "label": {
            "en": "Landscape (4:3)",
            "de": "Landschaft (4:3)",
            "es": "Apaisado (4:3)",
            "fr": "Paysage (4:3)",
            "pt-PT": "Horizontal (4:3)"
          }
        },
        {
          "value": "portrait",
          "label": {
            "en": "Portrait (2:3)",
            "de": "Porträt (2:3)",
            "es": "Retrato (2:3)",
            "fr": "Portrait (2:3)",
            "pt-PT": "Vertical (2:3)"
          }
        },
        {
          "value": "wide",
          "label": {
            "en": "Wide (16:9)",
            "de": "Breit (16:9)",
            "es": "Ancho (16:9)",
            "fr": "Large (16:9)",
            "pt-PT": "Largo (16:9)"
          }
        }
      ],
      "label": {
        "en": "Image size",
        "de": "Bildgröße",
        "es": "Tamaño de la imagen",
        "fr": "Taille de l'image",
        "pt-PT": "Tamanho da imagem"
      },
      "default": "square"
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Popular tags blog list",
        "de": "Beliebte Tags Blog-Liste",
        "es": "Lista de blog de etiquetas populares",
        "fr": "Liste de blog avec tags populaires",
        "pt-PT": "Lista de blogue com tags populares"
      },
      "category": {
        "en": "Blog",
        "de": "Blog",
        "es": "Blog",
        "fr": "Blog",
        "pt-PT": "Blog"
      },
      "settings": {
        "title": "Popular Blog Posts",
        "tag_limit": 3,
        "post_limit": 6,
        "show_blog_images": true,
        "show_dates": true,
        "show_author_name": false,
        "imageSize": "square"
      }
    }
  ],
  "templates": [
    "404",
    "article",
    "cart",
    "collection",
    "list-collections",
    "index",
    "page",
    "password",
    "product",
    "search"
  ]
}
{% endschema %}

